/* CSS for home page ONLY */
body {
    margin: 0;
}

header {
    height: 5em;
}

/* Navigation bar */
.nav-bar {
    background-color: #212121;
    height: 5em;
    width: 100%;
    position: fixed;
    display: flex;
    color: #FFFFFF;

}

/* Logotype link to home page */
header h1 a{
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 0.4em;
    font-family: Arial, Helvetica, sans-serif;
}

/* Shopping cart and order number PARENT */
.right-section {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}
/* Number of orders */
.number-of-orders {
    margin-top: 1em;
    margin-right: 0.2em;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header shopping cart icon */
.fa-shopping-cart {
   color: #FFFFFF;
   margin-top: 0.67em;
   margin-right: 0.3em;
}

/*Header login profile*/
.fa-user {
    color: #FFFFFF;
    margin-top: 0.67em;
    margin-right: 0.3em;
    padding-right: 1em;
}

    
.phoneCardClass {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #212121;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 4em;

}

.phoneCardClass:nth-child(even){
background-color: #F5F5F5;
}

.phoneCardClass img {
    width: 15em;
}
.phoneCardClass h1 {
    margin: 0;
}

/* Button add to shopping cart */
.add-to-cart {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5596F5;
    text-decoration: none;
    color: #F5F5F5;
    padding: 1em;
    border-radius: 0.7em;
    font-size: 1em;
}

.add-to-cart:hover{
    background-color: white;
    color: #5596F5;
    border: 1px solid #5596F5;
    cursor: pointer;
}

/* Removes default border when clicking button */
.add-to-cart:focus{
    outline: none;
}

/* When clicking button gives it a animation effect */
.add-to-cart:active{
    border: 1px solid white;
}

/* Font awesome icon added here */
.add-to-cart:before {
    content: "\f218";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    
}

#profileForm {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 0.03em;
    position: relative;
    
}

#popUp {
    display: none;
    height: 32.5em;
    width: 25em;
    border: 1px solid black;
    text-align: center;
    border-radius: 10%;
    color: black;
    background-color: #F5F5F5;
    position: fixed;
    z-index: 100;

}



/*LogIn form*/
.fa-times-circle {
    color: red;
    text-align: right;
    margin-top: 0.3em;
    margin-left: -0.5em;
}

#birdImg {
    width: 10em;
    height: 10em;
   
}

.formImage {
    height: 15em;
   
}

#userclose {
    height: 1em;
    width: 100%;    
}

/* dont display in first site */
.fa-trash-alt {
    display: none;
}