/* ONLY for ipads aka tablets. 
Devices between 768px - 1024px will get this css.
Because most tablets have this width
*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.wrapperForAllPhones .phoneCardClass {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 0;
	}
	.phoneCardClass img {
		height: 35em;
	}
	.phoneCardClass h1 {
		font-size: 3em;
	}
	.phoneCardClass h5{
		font-size: 1.5em;
	}
	.phoneCardClass h3{
		font-size: 1.7em;
	}
	.add-to-cart {
		font-size: 1.6em;
	}

	header .nav-bar {
		height: 7em;
	}
	header h1 {
		display: flex;
		align-content: center;
		align-items: center;
		font-size: 3em;
	}

	header #textWelcome {
		font-size: 2em;
		width: 7em;
		padding-top: 0.5em;
		height: 2em;
	}

	.right-section {
		font-size: 1.4em;
	}
}