@media screen and (max-width: 768px) {
    
    body {
        margin: 0;
    }
    
    header {
        background-color: black;
        height: 5em;
        width: auto;
    }
    
    /* Shopping cart själva ikonen */
   .fa-shopping-cart {
       color: white;
       float: right;
       border: 1px solid red;
       margin: 0.5em;
   }
}