@media screen and (max-width: 768px) {
    
    body {
        margin: 0;
    }
    
    header {
        background-color: black;
        height: 5em;
        width: auto;
    }
    
    .tech-store-text {
        color: white;
        font-size: 2.5em;
        text-decoration: none;
        margin-left: 0.5em;
    }
}