@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    header {
        height: 5em;
    }
    /* Navigation bar */
    .nav-bar {
        background-color: #212121;
        height: 5em;
        width: 100%;
        position: fixed;
        display: flex;
        color: #FFFFFF;
    }
    
    /* Logotype link to home page */
    header h1 a {
        color: #FFFFFF;
        margin-left: 0.4em;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Shopping cart and order number PARENT */
    .right-section {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        color: white;
    }

    /* Number of orders */
    .number-of-orders {
        margin-top: 1em;
        margin-right: 0.2em;
        font-size: 1.5em;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Header shopping cart icon */
    .fa-shopping-cart {
        color: #FFFFFF;
        margin-top: 0.67em;
        margin-right: 0.3em;
    }

    .wrapperForAllPhones {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2em;
        height: 20em;
        flex-direction: row;
    }
    
    div .phoneCardClass {
        height: 10em;
        width: 10em;
        border: 0.1em solid #5596F5;
        border-radius: 1em;
        height: 50vh;
        margin: 0.3em;
    }

    
    div .phoneCardClass img {
        width: 9em;
        height: 15em;
        margin-left: 0.5em;
    }
    
    .phoneCardClass h1 {
        margin: 0;
        text-align: center;
    }

    .phoneCardClass h3 {
        margin: 0;
        text-align: center;
    }

    /* display none in shoppingcart */
    .phoneCardClass h5 {
        display: none;
    }

    /* display none in shoppingcart */
    .add-to-cart {
        display: none;
    }

    .fa-trash-alt {
        margin-top: 0.5em;
        height: 1.2em;
        width: 7em;
        padding-top: 0.1em;
        text-decoration: none;
        text-align: center;
        color: #FFFFFF;
        background-color: #E64E4E;
        margin-left: 1.5em;
        border-radius: 0.5em;
    }
}

/* this is for tablet */

@media screen and (min-width: 769px) {


header {
    height: 5em;
}
/* Navigation bar */
.nav-bar {
    background-color: #212121;
    height: 5em;
    width: 100%;
    position: fixed;
    display: flex;
    color: #FFFFFF;
}

/* Logotype link to home page */
header h1 a {
    color: #FFFFFF;
    margin-left: 0.4em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Shopping cart and order number PARENT */
.right-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: white;
}

/* Number of orders */
.number-of-orders {
    margin-top: 1em;
    margin-right: 0.2em;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header shopping cart icon */
.fa-shopping-cart {
    color: #FFFFFF;
    margin-top: 0.67em;
    margin-right: 0.3em;
}

.wrapperForAllPhones {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8em;
    flex-direction: row;
    }

div .phoneCardClass {
    height: 12em;
    width: 10em;
    border: 0.1em solid #5596F5;
    border-radius: 1em;
    height: 50vh;
    margin: 1em;
}


div .phoneCardClass img {
    width: 8em;
    height: 16em;
    margin-left: 1em;
}

.phoneCardClass h1 {
    margin: 0;
    text-align: center;
}

.phoneCardClass h3 {
    margin: 0;
    text-align: center;
}

/* display none in shoppingcart */
.phoneCardClass h5 {
    display: none;
}

/* display none in shoppingcart */
.add-to-cart {
    display: none;
}

.fa-trash-alt {
    margin-top: 0.5em;
    height: 1.2em;
    width: 7em;
    padding-top: 0.1em;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    background-color: #E64E4E;
    margin-left: 1.5em;
    border-radius: 0.5em;
}
}